#How to create pandas Dataframe

In [4]:
import pandas as pd

In [5]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [6]:
list = ['a','b','c']
print(list)

['a', 'b', 'c']

In [7]:
df = pd.DataFrame(list)
print(df)

   0
0  a
1  b
2  c

In [8]:
ls_of_ls = [[1,2,3],[2,3,4],[4,5,6]]
print(ls_of_ls)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [9]:
df1 = pd.DataFrame(ls_of_ls)
print(df1)

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [12]:
dic = {'ID' : [4,5,6] , 'SN' : [40,41,42]}
dic

{'ID': [4, 5, 6], 'SN': [40, 41, 42]}

In [13]:
df2 = pd.DataFrame(dic)
df2

   ID  SN
0   4  40
1   5  41
2   6  42

In [14]:
ls_dic = [{'a': 3, 'b':4}, {'a': 7, 'b':8}]
ls_dic

[{'a': 3, 'b': 4}, {'a': 7, 'b': 8}]

In [15]:
df3 = pd.DataFrame(ls_dic)
df3

   a  b
0  3  4
1  7  8

In [16]:
ls_dic = [{'a': 3, 'b':4}, {'a': 7, 'b':8 , 's':1}]
ls_dic
df4 = pd.DataFrame(ls_dic)
df4

   a  b    s
0  3  4  NaN
1  7  8  1.0

In [17]:
dic_sr = { 'ID': pd.Series([1,3,4]), 'SN': pd.Series([101,102,103])}
df5 = pd.DataFrame(dic_sr)
df5

   ID   SN
0   1  101
1   3  102
2   4  103